body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Timeline Palette */
.vis-item.color1 {
  background-color: #219ebc;
  border-color: green;
}
.vis-item.color2 {
  background-color: #8ecae6;
  border-color: green;
}
.vis-item.color3 {
  background-color: #ffb703;
  border-color: green;
}
.vis-item .vis-item-content {
  width: 100%
}
.vis-label .vis-inner {
  min-height: 70px;
}

/* FC calendar */
.fc .fc-timegrid-slot-minor {
  border-top-style: none !important;
}

.fc .fc-timegrid-slot-label {
  vertical-align: middle;
  border: 0 none !important;
}

.fc .fc-scrollgrid {
  border: 0 none !important;
}
.fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion {
  padding: 0 4px;
  font-size: 10px;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  word-spacing: 100vw;
}

.fc .removebtn {
  color:black;
  position: absolute;
  top: 0;
  right: 0;
  width:13px;
  height: 13px;
  text-align:center;
  border-radius:50%;
  font-size: 10px;
  cursor: pointer;
      background-color: #FFF
}

.react-calendar {
  border: 0 none !important;
}

.react-calendar abbr {
  text-decoration: none;
}

.react-calendar__tile--now {
  background: #ffb703 !important;
}
.react-calendar__tile--active {
  background: #006edc !important;
  color: white;
}
.fc-event {
  overflow: hidden;
}